body{
    margin: 1%;
   
    
}
#detail{
    display: inline-flex;
}

.image{
    
    border-radius: 90%;
    float: right;
    
}
.main{
    
    margin-top: 2%;
    background-color: rgb(251, 252, 253);
    padding: 20px;
    padding-bottom: 100px;

}
#center{
  font-size: 70px;
  padding-left: 100px;
}
#cv{
    margin-left: 160px;
    width: 200px;
    height: 50px;
    background-color:coral;
    border-radius: 30px;
    border-color: chocolate;
    font-size: 20px;
}
#cv:hover{
    border-style: groove;
    border-color: rgb(240, 120, 22);
    background-color:rgb(196, 51, 63);
}
#project{
    
   background-color: rgb(247, 146, 121);
    height: 400px;
}
#pro{
    border-radius: 5%;
    border-color: rgb(245, 101, 5);
    background-color: rgb(226, 39, 39); 
    height: 50px;
    width: 70%;
    float: right;
    margin: 10px;
    display: inline-flex;
    margin-right: 40px;
    padding-left: 5px;
 
   
}
#para{
    font-weight: bold;
    margin: 10px;
}
  
#jj{
    display: flex;
    flex-wrap: wrap;
}
#float{
  
    margin-left: 800px;
    margin-top: 10px;
}
#ii{
    margin: 15px;
    border-radius: 50%;
    height: 30px;
}
#edumain{
   
    background-color: rgb(247, 146, 121);
    margin-top: 300px;
    height: 160px;
    
}

#paragraph{
    margin-left: 120px;
    margin-top: 20px;
}
#dd{
    margin-left: 80px;
    margin-top: 10px;
    border-radius: 50%;
    height: 200px;
    width: 280px;
    background-color: rgb(245, 119, 88);
    padding-top: 60px;
    padding-left: 25px;
    padding-right: 20px;
}

#E{
    margin-top: 80px;   
}
#last{
    margin-top: 100px;
    height: 100px;
    background-color: rgb(245, 119, 88);
}
#hh3{
    padding-left: 140px;
}

